{% load static %}
<section id="beauty-banners" class="padding-medium bg-light">
  <div class="container">
    <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
      <h2 class="display-5 fw-light text-uppercase">Beauty Stories</h2>
    </div>
    <div class="row">
      {% for banner in gadget_banners %}
      <div class="col-md-4 my-4">
        <a href="{{ banner.url }}" class="card position-relative d-block">
          {% if banner.image %}
          <img src="{{ banner.image.url }}" class="img-fluid" alt="{{ banner.title }}">
          {% elif forloop.counter == 1 %}
          <img src="{% static 'aura/images/category1.jpg' %}" class="img-fluid" alt="{{ banner.title }}">
          {% elif forloop.counter == 2 %}
          <img src="{% static 'aura/images/category2.jpg' %}" class="img-fluid" alt="{{ banner.title }}">
          {% else %}
          <img src="{% static 'aura/images/category3.jpg' %}" class="img-fluid" alt="{{ banner.title }}">
          {% endif %}
          <div class="card-body p-0">
            <h3 class="pt-4 pb-2 m-0">{{ banner.title }}</h3>
            {% if banner.subtitle %}<p>{{ banner.subtitle }}</p>{% endif %}
          </div>
        </a>
      </div>
      {% empty %}
      <div class="col-md-4 my-4"><a href="{% url 'catalog:shop' %}" class="card"><img src="{% static 'aura/images/category1.jpg' %}" class="img-fluid" alt="Skincare"><h3 class="pt-4 pb-2 m-0">Skincare Rituals</h3></a></div>
      <div class="col-md-4 my-4"><a href="{% url 'catalog:shop' %}" class="card"><img src="{% static 'aura/images/category2.jpg' %}" class="img-fluid" alt="Makeup"><h3 class="pt-4 pb-2 m-0">Makeup Essentials</h3></a></div>
      <div class="col-md-4 my-4"><a href="{% url 'catalog:shop' %}" class="card"><img src="{% static 'aura/images/category3.jpg' %}" class="img-fluid" alt="Fragrance"><h3 class="pt-4 pb-2 m-0">Signature Scents</h3></a></div>
      {% endfor %}
    </div>
  </div>
</section>
