{% extends 'base.html' %}
{% block title %}Blog | Zynvo{% endblock %}
{% block content %}
<section class="page-hero"><div class="container"><h1 class="display-2 text-uppercase">Beauty Journal</h1></div></section>
<section class="padding-medium pt-5">
  <div class="container">
    <div class="row">
        {% for post in posts %}
        <div class="col-lg-4 my-4">
            <article class="card position-relative h-100">
                <a href="{{ post.get_absolute_url }}" class="text-decoration-none d-block mb-3">
                    <img src="{{ post.primary_image_url }}" alt="{{ post.title }}" class="img-fluid blog-card-image">
                </a>
                <h2 class="h4 mb-2"><a href="{{ post.get_absolute_url }}" class="text-decoration-none">{{ post.title }}</a></h2>
                <p class="aura-muted mb-0">{{ post.excerpt }}</p>
            </article>
        </div>
        {% endfor %}
        {% for post in demo_posts %}
        <div class="col-lg-4 my-4">
            <article class="card position-relative h-100">
                <a href="{{ post.get_absolute_url }}" class="text-decoration-none d-block mb-3">
                    <img src="{{ post.primary_image_url }}" alt="{{ post.title }}" class="img-fluid blog-card-image">
                </a>
                <h2 class="h4 mb-2"><a href="{{ post.get_absolute_url }}" class="text-decoration-none">{{ post.title }}</a></h2>
                <p class="aura-muted mb-0">{{ post.excerpt }}</p>
            </article>
        </div>
        {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

