{% load static %}
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasSearchLabel">
  <div class="offcanvas-header justify-content-center">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h4 id="offcanvasSearchLabel" class="text-primary text-uppercase mb-3">Search</h4>
    <div class="search-bar border rounded-2 border-dark-subtle">
      <form class="text-center d-flex align-items-center" action="{% url 'catalog:shop' %}" method="get">
        <input type="search" name="q" class="form-control border-0 bg-transparent" placeholder="Search beauty essentials">
        <button class="btn p-0 border-0 me-3" type="submit" aria-label="Search"><iconify-icon icon="tabler:search" class="fs-4"></iconify-icon></button>
      </form>
    </div>
  </div>
</div>

<nav class="main-menu d-flex navbar fixed-top navbar-expand-lg py-lg-4">
  <div class="container">
    <div class="main-logo d-lg-none">
      <a href="{% url 'core:home' %}">
        <img src="{% static 'aura/images/logo.png' %}" alt="{{ site_settings.site_name }}" class="img-fluid">
      </a>
    </div>

    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end bg-black" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header justify-content-center">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body justify-content-between align-items-center">
        <div class="main-logo">
          <a href="{% url 'core:home' %}">
            <img src="{% static 'aura/images/logo.png' %}" alt="{{ site_settings.site_name }}" class="img-fluid">
          </a>
        </div>

        <ul class="navbar-nav menu-list list-unstyled d-flex gap-md-3 ps-lg-5 mb-0">
          <li class="nav-item"><a href="{% url 'core:home' %}" class="nav-link mx-2">Home</a></li>
          <li class="nav-item"><a href="{% url 'catalog:shop' %}" class="nav-link mx-2">Shop</a></li>
          <li class="nav-item"><a href="{% url 'catalog:shop' %}?sale=1" class="nav-link mx-2">Sale</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link mx-2 dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
            <ul class="dropdown-menu p-3 p-lg-0">
              <li><a href="{% url 'core:blog_index' %}" class="dropdown-item">Blog</a></li>
              <li><a href="{% url 'core:corporate' %}" class="dropdown-item">Corporate</a></li>
              <li><a href="{% url 'core:outlets' %}" class="dropdown-item">Outlets</a></li>
              <li><a href="{% url 'orders:tracking' %}" class="dropdown-item">Track Order</a></li>
            </ul>
          </li>
          {% if request.user.is_authenticated and request.user.is_staff %}
          <li class="nav-item"><a href="{% url 'core:superadmin_dashboard' %}" class="nav-link mx-2">Admin</a></li>
          {% endif %}
        </ul>

        <div class="d-none d-lg-flex justify-content-end">
          <ul class="d-flex justify-content-end list-unstyled m-0">
            <li class="lh-1">
              <a href="{% if request.user.is_authenticated %}{% url 'accounts:dashboard' %}{% else %}{% url 'accounts:login' %}{% endif %}" class="mx-3" aria-label="Account">
                <iconify-icon icon="healthicons:person" class="fs-4 text-light"></iconify-icon>
              </a>
            </li>
            <li class="lh-1">
              <a href="{% url 'orders:cart' %}" class="mx-3 position-relative" id="miniCartToggle" aria-label="Cart" aria-expanded="false" aria-controls="miniCartPanel">
                <iconify-icon icon="mdi:cart" class="fs-4 text-light"></iconify-icon>
                {% if cart_count %}<span class="position-absolute translate-middle badge rounded-circle text-black bg-light p-1">{{ cart_count }}</span>{% endif %}
              </a>
            </li>
            <li class="lh-1">
              <a href="#" class="mx-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch" aria-label="Search">
                <iconify-icon icon="tabler:search" class="fs-4 text-light"></iconify-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid px-md-5 d-lg-none">
    <ul class="d-flex justify-content-end list-unstyled m-0 mt-4">
      <li class="lh-1"><a href="{% if request.user.is_authenticated %}{% url 'accounts:dashboard' %}{% else %}{% url 'accounts:login' %}{% endif %}" class="me-4"><iconify-icon icon="healthicons:person" class="fs-4 text-light"></iconify-icon></a></li>
      <li class="lh-1"><a href="{% url 'orders:cart' %}" class="me-4 position-relative"><iconify-icon icon="mdi:cart" class="fs-4 text-light"></iconify-icon>{% if cart_count %}<span class="position-absolute translate-middle badge rounded-circle text-black bg-light p-1">{{ cart_count }}</span>{% endif %}</a></li>
      <li class="lh-1"><a href="#" class="me-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch"><iconify-icon icon="tabler:search" class="fs-4 text-light"></iconify-icon></a></li>
    </ul>
  </div>
  {% include 'includes/minicart.html' %}
</nav>
